@import "./css/topBar.css";
@import "./css/header.css";
@import "./css/platformSection.css";
@import "./css/statisticsSection.css";
@import "./css/helpDeskSection.css";
@import "./css/footer.css";
@import "./css/ictSection.css";
@import "./css/FAQsection.css";
@import "./css/categorySection.css";
@import "./css/ictServices.css";
@import "./css/regulatoryManagement.css";
@import "./css/contact.css";
@import "./css/heroSection.css";
@import "./css/globalHero.css";

body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, Arial, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0;
    font-size: 12px;
}

ul{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

li{
    list-style: none;
}

.section-title{
    font-size: 2.3rem;
    margin:70px 0;
}

button {
    background-color: transparent;
    border: none;
}

